body {
  font-size: 20px;
  color: #212529;
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    letter-spacing: 2px;
   
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #0085A1;
  text-decoration:none;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  position: absolute;
    
  background-color: black;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  opacity:0.7;
}

#mainNav .navbar-brand {
  font-weight: 500;
  color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 500;
  padding: 13px;
  text-transform: uppercase;
  color: white;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 500;
  text-align:center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;

  }

  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;

  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }

}

@media only screen and (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    background-color:black;
        opacity: 0.7;
  }

  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
  
    background-color:  #000000ba;
  }
  #mainNav.is-fixed .navbar-brand {
    color: white;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: white;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    background-color:black;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .nav-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
    overflow:hidden;

}
.nav-link:hover::after {
    width: 100%;
    
}
 .dropdown-menu{
  
    border-bottom:1px solid white;
    border-bottom:none !important;

} 
}

header.masthead {

  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: black;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  display:none;
  
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 100px 0 150px;
  color: white;

}
.slider-nav{
  margin-top:100px;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 52px;
    border: 1px solid white;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
 
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085A1;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}
#footer_ div{
 padding:2%;
 color:grey;
 font-size:0.6rem;
 
}
#footer_ div span{
  border-top:1px solid grey;
}
footer {
  background-color: black;
  font-size: 10px;
 
  text-align: center;
  color: azure;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #00657b !important;
  border-color: #00657b !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.icons-home{

  
    color: white;
    /* width: 200px; */
    z-index:0.2;
    padding: 1%;
    margin-top:2.4%;
    border-radius: 50%;
    background-color: #00aeef;
}
.home-arrow-position{
    position:absolute;
    top:45%;
        color: white;

}
.fa-long-arrow-right{
    right:1%;


}
.fa-long-arrow-left{
    left:1%;
}

.project-header{
      width: 100%;
    
    color:white;
        background-image: linear-gradient(to right, #72d9ffc5, #00aeef);
   /*  background-color:#00aeef; */
   
    
}
.project-header-overlay{
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.buttons{
      color: white;
      background-color:#60c260;
       box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   border:none;
    padding: 1% 3%;
   
    display:inline-block;
    cursor:pointer;
    
    margin:0 auto;
    z-index:1;
}

@media only screen and (max-width: 600px) {
  .buttons {
      display:none;
  } 
  .drop-section-img img{
    width:100%;
  }
  p{
    font-size:0.8rem;
  }
  h1,h2,h3,h4,h5,h6{
    font-size:0.9rem;
  }
  .hovering{
    font-size:0.8rem;
  }
  .publication-title, .publication-source {
    font-size:0.9rem;
  }
}
.publication-abstract .hovering{
  margin-left:0px;
}
.hovering{
  cursor:pointer;
  
  margin-left:-40px;

  border-radius: 50%;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.hovering:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#categories{
  overflow:hidden;
  width:90%;
  margin:0 auto;
}
.clr:after{
  content:"";
  display:block;
  clear:both;
}
#categories li{
  position:relative;
  list-style-type:none;
  width:27.85714285714286%; /* = (100-2.5) / 3.5 */
  padding-bottom: 32.16760145166612%; /* =  width /0.866 */
  float:left;
  overflow:hidden;
  visibility:hidden;
 
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(3n+2){
  margin:0 1%;
}
#categories li:nth-child(6n+4){
  margin-left:0.5%;
}
#categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
  margin-bottom:0%;
}
#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  
  -webkit-backface-visibility:hidden;
  
}

/* HEX CONTENT */
#categories li img{
  left:-100%; right:-100%;
  width: auto; height:100%;
  margin:0 auto;   
}

#categories div h1, #categories div p{
  width:90%;
  padding:0 5%;
  background-color:#008080; background-color: rgba(0, 128, 128, 0.8);
  font-family: 'Raleway', sans-serif;
  
  -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1{
  bottom:110%;
  font-style:italic;
  font-weight:normal;
  font-size:1.5em;
  padding-top:100%;
  padding-bottom:100%;
}
#categories li h1:after{
  content:'';
  display:block;
  position:absolute;
  bottom:-1px; left:45%;
  width:10%;
  text-align:center;
  z-index:1;
  border-bottom:2px solid #fff;
}
#categories li p{
  padding-top:50%;
  top:110%;
  padding-bottom:50%;
}


/* HOVER EFFECT  */

#categories li div:hover h1 {
  bottom:50%;
  padding-bottom:10%;
}

#categories li div:hover p{
  top:50%;
  padding-top:10%;
}
.publication-container{
      /* border: 1px solid #d8d8d8; */
       box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 1em;
    margin-bottom: 1em;
  padding-right:42px;
}
.publication-image{
  width: 100px;
    margin-left: 13px;
    height: 100px;
    float: left;
   /* border: 1px solid #ff000036; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.publication-image img{
  width:100%;
  height:100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.publication-title{
  margin-left: 150px;
}
.publication-abstract h3{
  font-weight:900;
}
.publication-source{
      margin-top: 10px;
    float: l;
    margin-left: 150px;
    color: grey;
}
.publication-abstract{
  display:none;
  padding:5% 5% 0% 5%;
}
.details-button{
  float:right;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background-color: #F44336;
    border: none;
    color: white;
    padding: 0 1em;
    border-radius: 5px;
}
.details-button-paper{
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background-color: #F44336;
    border: none;
    color: white;
    padding: 0 1em;
    border-radius: 5px;
    margin-bottom:5%;
}
.details-button-paper a{
  color:white;
}
@media (max-width: 992px){
  .publication-image{
    display:none;
  }
  .publication-title{
    margin-left: 13px;
  }
  .publication-source{
    margin-left: 13px;

  }
  .dropdown-menu{
 text-align: center;

  }
 
  
}
.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
  border-radius: 5px;
    position: relative;
    height:400px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    
    padding: 0 20px;
}

.team-member:hover .team-hover, .team-member:hover .team-hover .desk {
    opacity: 1;
}

.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}
.team-img{
  background-size:cover;
  background-position:center; 
}
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.scrolling-wrapper .slideitem {
  flex: 0 0 auto;
  width:100%;
  height:300px;  
    
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    position:relative;

}

.boundary{
     width: 80%;
    /* height: 100%; */
    /* border-left: 100px solid transparent; */
    border-right: 200px solid transparent;
    border-top: 299px solid #39a5ff;

    /* border-bottom: 100px solid #000000fc; */


}
#style-4::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#style-4::-webkit-scrollbar
{
  width: 10px;
  height:10px;
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  

.text{
      position: absolute;
        top: 10px;
    left: 30px;

}
.text h3{
      letter-spacing: 1px;
    font-weight: 100;
}
.dropdown-toggle{
    background-color:black;
  
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size:12px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    cursor:pointer;
    
}

.carousel-inner{
  max-height: 380px;
}
button:focus {outline:none;}
.dropdown-menu{
  background-color:black;
 
  white-space: nowrap;
overflow: hidden;
    border-top: 1px solid white;
    border-bottom:1px solid white;
    min-width:15em;


} 
.dropdown-menu li a{
      padding: 4%;
}
.dropdown-menu li a:hover{
  color:#00aeef;
}
.dropdown-menu li{
      padding: 4%;
}
.drop-item{
  color:white;
  text-decoration:none;

}
.dropdown {
  text-align:center;

}

.border7{
  
  height:400px;
  background-color: #e4e4e4;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.border5{
  
  background-color: white;
  color:black;
  height:200px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin-top:100px;
}
.publication{
    width: 100%;
    padding: 5% 0%;
    background-color: #00aeef;
}
#carousel-1, #carousel-2{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.featured-pub-title{
  font-size:17px;
  margin:12%;
  font-weight: 600;
}

.featured-pub-source{
    margin: 5%;
    font-size: 10px;
    color: grey;
  }
  .left{
    position:absolute;
    bottom:10%;
    right:10%;
  }
  .carousel-caption p{
       background-color: black;
       cursor:pointer;

    opacity: 0.8;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .carousel-caption p:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @media (max-width: 1000px){
.col-md-4 {
    -ms-flex: 0 0 33.333333%;

    flex: 0 0 50% !important;
    max-width: 50% !important;
}
.container {
    max-width: 800px !important;
}

}

  @media (max-width: 600px){
.col-md-4 {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
}

@media (min-width: 900px){
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0  33.333333%;
    max-width:  33.333333%;
}
}
@media (min-width: 780px){
.container {
    max-width: 1150px;
}
}
.learnMore{

     display: block;
     color:grey;
    /* position: absolute; */
    position: absolute;
    bottom:0;
    font-size:2em;
    left: 0;
    font-family: 'Amatic SC', cursive;
    width: 100%;
    cursor:pointer;
}

.learnMore h3{
  margin-bottom:0;
}
.fa-angle-double-down:before{
  animation-name: Ar;
     animation-duration: 1s;
    animation-iteration-count: infinite;
}

.fa-circle{
  display:block !important;
  margin:10px !important;
  cursor:pointer;
  
}

.slider-nav{
  position:absolute;
  top:160px;
  right:0;
  padding:2%;
  color: azure;
}
.active{
  color:grey;
}
.news{
     position: absolute;
    bottom: -10px;
    right: 0px;
    color: azure;
    z-index: 1;
    cursor:pointer;
}
.news img{
    width: 84px;
    height: 42px;
  
  }
  .news h3{
        padding: 0;
    font-size: 15px;
    margin: 0;
    right: -20px;
    bottom: 28px;
    position: relative;
    color:azure;

  }
  .news h3:hover{
    color:black;
  }
  .side-nav{

    z-index: 10;
  
    padding: 0% 0.5%;
    top: 40%;
    position: fixed;
    background-color: black;
    right: 10px;
    border: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-transition: padding 4s;
    transition: padding 4s;

  }
  .side-nav:active{
     padding: 100px;
  }
  .side-nav:active .fa-bars{
    display:none;
  }
  .option1{
   
width:28px;
height:28px;
position:relative;
display:inline-block;
  }
  .option2{
    
  
width:28px;
height:28px;
position:relative;
display:inline-block;
  }
  .option1:after{
    content:"";
position:absolute;
border-top:1px solid red;
  width:40px;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  }
  .option2:after{
    content:"";
position:absolute;
border-top:1px solid red;
  width:40px;
  transform: rotate(135deg);
  transform-origin: 0% 0%;
  }
  .drop-section-img{
    border-radius:10px;
    text-align:center;
    height: 500px;
  
  }
  .drop-section-img img{
    height:100%;
    border-radius:10px;
    
  }
.drop-section{
  margin-top:50px;
  text-align: center;
  padding: 2.5%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #fe6262;
  /* border: 1px solid; */
  cursor: pointer;
  -webkit-text-stroke: 1px black;
  box-shadow: 10px 10px 0px #666;
 -moz-box-shadow:10px 10px 0px #666;
 -webkit-box-shadow: 10px 10px 0px #666;
 transition: all 0.8s ease;
}

.drop-section-content{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
    color: black;
    padding: 6%;
    display:none;
   
}
.optionsMenu{
  background-color:black;
  position: fixed;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 2;

      padding: 0% 1%;
 
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 10px;
}


.carousel-indicators .active {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.57), 0 3px 6px rgba(0, 0, 0, 0.62);
  background-color: red;
  cursor:pointer;
  
}


.carousel-indicators li {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.57), 0 3px 6px rgba(0, 0, 0, 0.62);
  cursor:pointer;
}

.banner-img .banner-img-style{
  width:100%; 
  margin-bottom:50px;
  

  
}
#bodyholder{

    display:none;
}
#loading{
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
#loading img{
  width:100px;
}
